<div class="container-fluid" style="text-align:center">
    <h4>
      Contacts List
    </h4>
    <table id="contactsTable" class="table table-striped">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Phone</th>
        <th>Status</th>
      </thead>
      <tbody>
      <tr *ngFor="let contact of contactsList">
        <td>
        {{contact.fname}}
        </td>
        <td>
        {{contact.lname}}
        </td>
        <td>
        {{contact.emailid}}
        </td>
        <td>
        {{contact.phone}}
        </td>
        <td>
        {{contact.status}}
        </td>
      </tr>
    </tbody>
  </table>
</div>