<table id="contactsTable" class="table table-striped" *ngIf="contactsList.length">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Id</th>
    <th>Phone</th>
    <th>Status</th>
    <th *ngIf="showAction">Action</th>
  </thead>
  <tbody>
    <tr (click)="onRowClick(contact)" *ngFor="let contact of contactsList">
      <td>
        {{contact.fname}}
      </td>
      <td>
        {{contact.lname}}
      </td>
      <td>
        {{contact.emailid}}
      </td>
      <td>
        {{contact.phone}}
      </td>
      <td>
        {{contact.status}}
      </td>
      <td *ngIf="showAction">
        <a href="javascript:void(0)" (click)="onActionEvent(contact)">Delete <i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div class="" *ngIf="!contactsList.length">
  Looks like you have no contacts. Goto <a href="/#/createcontact">Create Page</a> for creating new contact.
</div>