<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="navbar-header">
        <button (click)="onToggle()" type="button" id="sidebarCollapse" class="btn btn-default navbar-btn">
          <i class="fa fa-align-left"></i>
        </button>
      </div>
      <h3>Contact Manager</h3>
      <strong>CM</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="/#/listcontacts">
          <i class="fa fa-list"></i>
          Contacts
        </a>
      </li>
      <li>
        <a href="/#/createcontact">
          <i class="fa fa-plus"></i>
          Create
        </a>
      </li>
      <li>
        <a href="/#/editcontact">
          <i class="fa fa-pencil"></i>
          Edit
        </a>
      </li>
      <li>
        <a href="/#/deletecontact">
          <i class="fa fa-trash-o"></i>
          Delete
        </a>
      </li>
    </ul>
  </nav>
</div>
